@config "../tailwind.config.cjs";
@import "tailwindcss";


:root {
  --font-inter: var(--font-body);
  --font-urbanJungle: var(--font-heading);
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
